.library-search {
  padding: 0;
  margin: 30px 0 50px 0;

  > i {
    position: absolute;
    color: #888888;
    font-size: 1.3em;
    margin: 13px;
  }

  > input {
    height: 45px;
    font-size: 18px;
    padding-left: 41px;
  }
}

.library-row {

  > .library-row-headline {
    color: #777777;
    margin: 0 0 15px 0;
    font-size: 21px;
  }
}

.table-btn-color {
  //red
  color: #CC0000;

  //green
  color: #339900;
}
