<section>
  <div class="container-fluid library-search">
    <i class="fa fa-search"></i>
    <input type="text" ng-model="selected" placeholder="Search and add libraries" typeahead="state as state.name for state in states | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="addLibrary($item)" autofocus>
    <!-- typeahead="image for images in getImage($viewValue)"  -->
  </div>
  <div class="library-row">
      <!-- <h2 class="library-row-headline">Added libraries</h2> -->
      <table class="table table-invoice">
        <thead>
        <tr>
          <th class="library-number row-5">#</th>
          <th class="library-name row-20">Name</th>
          <th class="library-official row-14">Official</th>
          <th class="library-submit row-14">Submit</th>
          <th class="library-create row-14">Create</th>
          <th class="library-build row-14">Build</th>
          <th class="library-deploy row-14">Deploy</th>
          <th class="library-trash row-5"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="library in addedLibraries">
          <td><span>{{ library.id }}</span></td>
          <td><span>{{ library.name }}</span></td>
          <!-- check is official -->
          <td>
            <div class="library-docker-icon" ng-if="library.isOfficial === true">
              <img ng-src="../images/docker_icon.png">
            </div>
          </td>
          <!-- check is submit -->
          <td>
            <div class="library-btn-false" ng-if="library.isSubmit === false">
              <i class="fa fa-circle"></i>
            </div>
            <div class="library-btn-true" ng-if="library.isSubmit === true">
              <i class="fa fa-check-circle"></i>
            </div>
          </td>
          <!-- check is create -->
          <td>
            <div class="library-btn-false" ng-if="library.isCreate === false">
              <i class="fa fa-circle"></i>
            </div>
            <div class="library-btn-true" ng-if="library.isCreate === true">
              <i class="fa fa-check-circle"></i>
            </div>
          </td>
          <!-- check is build -->
          <td>
            <div class="library-btn-false" ng-if="library.isBuild === false">
              <i class="fa fa-circle"></i>
            </div>
            <div class="library-btn-true" ng-if="library.isBuild === true">
              <i class="fa fa-check-circle"></i>
            </div>
          </td>
          <!-- check is deploy -->
          <td>
            <div class="library-btn-false" ng-if="library.isDeploy === false">
              <i class="fa fa-circle"></i>
            </div>
            <div class="library-btn-true" ng-if="library.isDeploy === true">
              <i class="fa fa-check-circle"></i>
            </div>
          </td>
          <td class="library-trash-td text-center" ng-click="removeLibrary(library)"><i class="fa fa-trash-o"></i></td>
        </tr>
        </tbody>
      </table>

  </div>
</section>
